<a href="https://colab.research.google.com/github/19PA1AO5B7/WIDS-DATATHON-2021/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import keras
import tensorboard
import tensorflow as tf
import random as rd

In [51]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score,accuracy_score,confusion_matrix,classification_report,roc_auc_score,roc_curve,auc

In [52]:
data = pd.read_csv('/content/TrainingWiDS2021.csv')
data.head()

   Unnamed: 0  encounter_id  ...  solid_tumor_with_metastasis  diabetes_mellitus
0           1        214826  ...                            0                  1
1           2        246060  ...                            0                  1
2           3        276985  ...                            0                  0
3           4        262220  ...                            0                  0
4           5        201746  ...                            0                  0

[5 rows x 181 columns]

In [53]:
data.shape

(130157, 181)

In [54]:
# Check for NaN under an entire DataFrame: 
data.isna().any()

Unnamed: 0                     False
encounter_id                   False
hospital_id                    False
age                             True
bmi                             True
                               ...
immunosuppression              False
leukemia                       False
lymphoma                       False
solid_tumor_with_metastasis    False
diabetes_mellitus              False
Length: 181, dtype: bool

In [55]:
data.isna().sum()

Unnamed: 0                        0
encounter_id                      0
hospital_id                       0
age                            4988
bmi                            4490
                               ...
immunosuppression                 0
leukemia                          0
lymphoma                          0
solid_tumor_with_metastasis       0
diabetes_mellitus                 0
Length: 181, dtype: int64

In [56]:

 # Count the NaN under an entire DataFrame:
data.isnull().sum().sum()

8018193

In [57]:
data.columns

Index(['Unnamed: 0', 'encounter_id', 'hospital_id', 'age', 'bmi',
       'elective_surgery', 'ethnicity', 'gender', 'height',
       'hospital_admit_source',
       ...
       'h1_pao2fio2ratio_max', 'h1_pao2fio2ratio_min', 'aids', 'cirrhosis',
       'hepatic_failure', 'immunosuppression', 'leukemia', 'lymphoma',
       'solid_tumor_with_metastasis', 'diabetes_mellitus'],
      dtype='object', length=181)

In [58]:
data.describe()

          Unnamed: 0  ...  diabetes_mellitus
count  130157.000000  ...      130157.000000
mean    65079.000000  ...           0.216285
std     37573.233831  ...           0.411712
min         1.000000  ...           0.000000
25%     32540.000000  ...           0.000000
50%     65079.000000  ...           0.000000
75%     97618.000000  ...           0.000000
max    130157.000000  ...           1.000000

[8 rows x 175 columns]

In [59]:
data.describe(include="all")

           Unnamed: 0  ...  diabetes_mellitus
count   130157.000000  ...      130157.000000
unique            NaN  ...                NaN
top               NaN  ...                NaN
freq              NaN  ...                NaN
mean     65079.000000  ...           0.216285
std      37573.233831  ...           0.411712
min          1.000000  ...           0.000000
25%      32540.000000  ...           0.000000
50%      65079.000000  ...           0.000000
75%      97618.000000  ...           0.000000
max     130157.000000  ...           1.000000

[11 rows x 181 columns]

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130157 entries, 0 to 130156
Columns: 181 entries, Unnamed: 0 to diabetes_mellitus
dtypes: float64(157), int64(18), object(6)
memory usage: 179.7+ MB

In [61]:
del data['ethnicity']
del data['hospital_admit_source']
del data['icu_admit_source']
del data['icu_stay_type']
del data['icu_type']

In [62]:
data.columns = data.columns.str.strip()

In [63]:
data['gender'] = data.gender.map(dict(M=1, F=0))

In [64]:
data = data.fillna(method="ffill")

In [65]:
data.isna().sum().sum()

8162

In [66]:
data = data.fillna(method="bfill")

In [67]:
data.isna().sum().sum()

0

In [68]:
# Implementing the model

In [69]:
from sklearn.ensemble import RandomForestRegressor

In [70]:
x = data.loc[ : , data.columns != 'diabetes_mellitus']
y = data['diabetes_mellitus']

In [ ]:
model = RandomForestRegressor()
model.fit(x,y)

In [ ]:
df = pd.read_csv('/content/UnlabeledWiDS2021.csv')

In [ ]:
df.head()

In [36]:
df.shape

(10234, 180)

In [37]:
del df['ethnicity']
del df['hospital_admit_source'] 
del df['icu_admit_source']
del df['icu_stay_type']
del df['icu_type']

In [38]:
df.columns = df.columns.str.strip()

In [39]:
df['gender'] = df.gender.map(dict(M=1, F=0))

In [40]:
df = df.fillna(method="ffill")

In [41]:
df.isna().sum().sum()

1588

In [42]:
df = df.fillna(method="bfill")

In [43]:
df.isna().sum().sum()

0

In [44]:
df.drop(df.tail(795).index, 
        inplace = True)

In [45]:
y_pred = model.predict(df)
y_pred

array([0.33, 0.41, 0.32, ..., 0.25, 0.14, 0.37])

In [49]:
roc_auc_score(y,y_pred)

ValueError: ignored

In [47]:
output = pd.DataFrame({'encounter_id':df['encounter_id'],'diabetes_milletus':y_pred})
output

      encounter_id  diabetes_milletus
0           144740               0.33
1           141990               0.41
2           142038               0.32
3           138628               0.30
4           141682               0.37
...            ...                ...
9434        135424               0.37
9435        143540               0.20
9436        138804               0.25
9437        143701               0.14
9438        136209               0.37

[9439 rows x 2 columns]